.content {
	float: left;
	margin: 80px 20px 10px 20px;
	font-family:Arial,Helvetica,sans-serif;
	width: 100%;
}
.login {
	background-color: #2c3e50;
	border: none;
	width: 50%;
	height: 50px;
	margin: 10px 25% 10px 25%;
	font-size: x-large;
	color: #95a5a6;
}
.username {
	width: 50%;
	margin: 10px 25% 10px 25%;
}
.password {
	width: 50%;
	margin: 10px 25% 10px 25%;
}
.password input {
	width: 50%;
	height: 30px;
	margin: 10px 25% 10px 25%;
	float: left;
	font-size: larger;
}
.username input {
	width: 50%;
	height: 30px;
	margin: 10px 25% 10px 25%;
	float: left;
	font-size: larger;
}
h2 {
	width: 25%;
	margin: 0;
}